{# templates/administrateur/formation/content/block_form_page.html.twig #}
{% extends 'base_admin.html.twig' %}

{% block title %}{{ modeEdition ? 'Modifier' : 'Ajouter' }} un bloc{% endblock %}

{% block body %}
<div class="container">
  <div class="card">
    <div class="card-body">
      {% include 'administrateur/formation/content/block_form.html.twig' %}
    </div>
  </div>
</div>
{% endblock %}
