<div class="hover-actions end-0 me-4 d-flex gap-1 justify-content-end">

  <a href="{{ path('app_administrateur_engin_modifier', {id: engin.id, entite: entite.id}) }}"
     class="btn btn-warning btn-sm"
     data-bs-toggle="tooltip"
     data-bs-title="Modifier">
    <i class="bi bi-pencil"></i>
  </a>

  <button type="button"
          class="btn btn-danger btn-sm delete-btn"
          data-bs-toggle="modal"
          data-bs-target="#deleteModal"
          data-url="{{ path('app_administrateur_engin_supprimer', {id: engin.id, entite: entite.id}) }}"
          data-token="{{ csrf_token('delete_engin_' ~ engin.id) }}"
          data-bs-title="Supprimer">
    <i class="bi bi-trash"></i>
  </button>

</div>
