{# templates/administrateur/elearning/_actions.html.twig #}
<div class="d-inline-flex gap-1">
  <a class="btn btn-sm btn-outline-primary"
     href="{{ path('app_administrateur_elearning_edit', {entite: entite.id, id: c.id}) }}"
     title="Modifier">
    <i class="bi bi-pencil"></i>
  </a>

  <a class="btn btn-sm btn-outline-info"
     href="{{ path('app_administrateur_elearning_content_index', {entite: entite.id, course: c.id}) }}"
     title="Contenu">
    <i class="bi bi-diagram-3"></i>
  </a>

  <a class="btn btn-sm btn-outline-secondary"
    href="{{ path('app_administrateur_elearning_enrollment_index', { entite: entite.id, course: c.id }) }}"
    title="Inscriptions">
    <i class="bi bi-people"></i> 
  </a>


  <a class="btn btn-sm btn-outline-success"
     href="{{ path('app_administrateur_elearning_enrollment_assign', {entite: entite.id, course: c.id}) }}"
     title="Attribuer">
    <i class="bi bi-person-plus"></i>
  </a>
</div>
