{# templates/administrateur/elearning/_enrollment_progress.html.twig #}
{% set p = (pct ?? 0)|default(0) %}
<div class="d-flex flex-column gap-1">
  <div class="pbar" style="--w: {{ p }}%;">
    <span></span>
  </div>
  <div class="d-flex justify-content-between pmeta">
    <span>{{ p }}%</span>
    <span class="text-muted">progression</span>
  </div>
</div>
