{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} border-2 d-flex align-items-center" role="alert">
            <div class="me-3 icon-item">
                {% if label == 'danger' %}<span class="fa fa-times-circle-o text-white fs-1"></span>
                {% elseif label == 'success' %}<span class="fa fa-check-circle text-white fs-1"></span>
                {% else %}<span class="fa fa-pause-circle text-white fs-1"></span>
                {% endif %}
            </div>
            <div class="col-sm-11">
            <p class="mb-0 flex-1"> {{ message }}</p>
            </div>
            <div class="col-sm-1">
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

    {% endfor %}
{% endfor %}