<div class="btn-group btn-group-sm">
  <a class="btn btn-outline-primary"
     href="{{ path('app_administrateur_convention_show', { entite: entite.id, id: c.id }) }}">
    Voir
  </a>
  <a class="btn btn-outline-secondary"
     href="{{ path('app_administrateur_convention_edit', { entite: entite.id, id: c.id }) }}">
    Éditer
  </a>
</div>
