{# templates/formateur/_modal_signature.html.twig #}
<div class="modal fade" id="signatureModal" tabindex="-1" aria-labelledby="signatureLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signatureLabel">Signature</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>

      <div class="modal-body">
        <p class="text-muted mb-2">
          Signez ci-dessous pour valider votre émargement.
        </p>
        <div class="border rounded p-2">
          <canvas id="signatureCanvas" class="w-100" style="height:200px;"></canvas>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" id="btnClearSignature">
          Effacer
        </button>
        <button type="button" class="btn btn-success" id="btnSaveSignature">
          Enregistrer ma signature
        </button>
      </div>
    </div>
  </div>
</div>
