{% extends 'base_public.html.twig' %}

{% block title %}Wikiformation - Politique de cookies{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

{% block body %}
    {% include 'header_public.html.twig' %}



    <section class="container py-5">
    <div class="bg-light rounded shadow p-5">
        <div class="text-center mb-5">
        <h2 class="display-6 fw-bold text-success">Politique de Cookies</h2>
        <p class="text-muted">Fonctionnement et gestion des cookies sur le site</p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Mémoriser vos préférences utilisateur</li>
        <li class="list-group-item">Améliorer la performance et l’ergonomie du site</li>
        <li class="list-group-item">Mesurer l’audience via Google Analytics (avec votre consentement)</li>
        </ul>
        <p class="mt-4">Vous pouvez gérer vos choix à tout moment depuis la bannière ou les paramètres du navigateur.</p>
    </div>
    </section>
{% endblock %}
